doctype html
html(lang='en')
  head(role='header')
    title= helpers.formatMetaTitle(title, currentLocale.code)
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content=translate('metaDescription', currentLocale.code))
    meta(name='twitter:card' content=translate('metaTwitterCard', currentLocale.code))
    meta(property='og:title' content=helpers.formatMetaTitle(title, currentLocale.code))
    meta(property='og:type' content='article')
    meta(property='og:url' content=`http://contentful-example-app.herokuapp.com${currentPath}`)
    meta(property='og:image' content='http://contentful-example-app.herokuapp.com/og-image.jpg')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='1200')
    meta(property='og:image:alt' content=translate('metaImageAlt', currentLocale.code))
    meta(property='og:description' content=translate('metaImageDescription', currentLocale.code))
    link(rel='apple-touch-icon' sizes='120x120' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#4a90e2')
    meta(name='theme-color' content='#ffffff')
  body
    main.main(role='main')
      .main__header
        header.header(role='banner')
          .header__upper-wrapper
            .header__upper.layout-centered
              .header__upper-title
                a.header__upper-link#about-this-modal-trigger(href='#')
                  svg.header__upper-icon
                    use(xlink:href='/icons/icons.svg#info')
                  span #{translate('whatIsThisApp', currentLocale.code)}
              .header__upper-copy
                  svg.header__upper-icon
                    use(xlink:href='/icons/icons.svg#github')
                  | #{translate('viewOnGithub', currentLocale.code)}
              .header__controls
                .header__controls_group
                  form(action='' method='get')
                    .header__controls_label API: #{currentApi.label}
                    .header__controls_dropdown
                      .header__controls_help_text #{translate('apiSwitcherHelp', currentLocale.code)}
                      button.header__controls_button(
                        type='submit'
                        name='api'
                        value='cda'
                        class=`${currentApi.id === 'cda' ? 'header__controls_button--active' : ''}`
                      )
                        | #{translate('contentDeliveryApiLabel', currentLocale.code)}:
                        br
                        span.header__controls_button_help= translate('contentDeliveryApiHelp', currentLocale.code)
                      button.header__controls_button(
                        type='submit'
                        name='api'
                        value='cpa'
                        class=`${currentApi.id === 'cpa' ? 'header__controls_button--active' : ''}`
                      )
                        | #{translate('contentPreviewApiLabel', currentLocale.code)}:
                        br
                        span.header__controls_button_help= translate('contentPreviewApiHelp', currentLocale.code)
                    input(type='hidden' name='locale' value=currentLocale.code)

                .header__controls_group
                  form(action='' method='get')
                    input(type='hidden' name='api' value=currentApi.id)
                    .header__controls_label #{translate('locale', currentLocale.code)}: #{currentLocale.name}
                    .header__controls_dropdown
                      .header__controls_help_text #{translate('localeQuestion', currentLocale.code)}
                      each locale in locales
                        button.header__controls_button(type='submit' name='locale' value=locale.code class=`${locale.code === currentLocale.code ? 'header__controls_button--active' : ''}`)= `${locale.name} (${locale.code})`
              .header__upper-menu
                a(href=`/settings${queryString}` class=(currentPath.startsWith('/settings') ? 'active' : '')) #{translate('settingsLabel', currentLocale.code)}
          .header__lower-wrapper
            .header__lower.layout-centered
              .header__logo
                a.header__logo-link(href=`/${queryString}`)
                  img(src='/images/the-example-app-logo-nodejs.svg' alt=translate('logoAlt', currentLocale.code))
              nav.header__navigation.main-navigation(role='navigation')
                ul
                  li
                    a(href=`/${queryString}` class=(currentPath === '/'? 'active' : '')) #{translate('homeLabel', currentLocale.code)}
                  li
                    a(href=`/courses${queryString}` class=(currentPath.startsWith('/courses') ? 'active' : '') ) #{translate('coursesLabel', currentLocale.code)}
      .main__content
        block content

      .main__footer
        .layout-centered
          footer.footer
            .footer__upper
              nav.footer__navigation.main-navigation(role='navigation')
                ul
                  li
                    a(href=`/${queryString}` class=(currentPath === '/'? 'active' : '')) #{translate('homeLabel', currentLocale.code)}
                  li
                    a(href=`/courses${queryString}` class=(currentPath.startsWith('/courses') ? 'active' : '') ) #{translate('coursesLabel', currentLocale.code)}
              .footer__apps
                //- a(href='#')
                //-   img(src='/images/badge-app-store.svg')
                //- a(href='#')
                //-   img(src='/images/badge-google-play.svg')
            .footer__lower
              .footer__logo
                a(href='https://www.contentful.com/' target='_blank' rel='noopener')
              .footer__disclaimer
                p.footer__disclaimer-text
                  | #{translate('footerDisclaimer', currentLocale.code)}&nbsp;
                  a(href='https://github.com/contentful/the-example-app.nodejs' target='_blank' rel='noopener') #{translate('viewOnGithub', currentLocale.code)}
                  | .&nbsp;
                  a(href=`/imprint${queryString}` ) #{translate('imprintLabel', currentLocale.code)}
                  | .&nbsp;
                  a(href=`https://www.contentful.com/contact/` target='_blank') #{translate('contactUsLabel', currentLocale.code)}
                  | .
              .footer__social
                p
                  a(href='https://www.facebook.com/contentful/' target='_blank' rel='noopener')
                    svg
                      use(xlink:href='/icons/icons.svg#facebook')
                  a(href='https://twitter.com/contentful' target='_blank' rel='noopener')
                    svg
                      use(xlink:href='/icons/icons.svg#twitter')
                  a(href='https://github.com/contentful' target='_blank' rel='noopener')
                    svg
                      use(xlink:href='/icons/icons.svg#github')
  section.modal#about-this-modal
    .modal__overlay.close
    .modal__wrapper
      h1.modal__title= translate("modalTitle", currentLocale.code)
      .modal__content
        p
          | #{translate("modalIntro", currentLocale.code)}&nbsp;
        p
          | #{translate("modalSpaceIntro", currentLocale.code)}&nbsp;
          a(href="https://github.com/contentful/content-models/blob/master/the-example-app/README.md " target="_blank" rel="noopener") #{translate("modalSpaceLinkLabel", currentLocale.code)}
          | .
        p= translate("modalPlatforms", currentLocale.code)
        ul
          li
            img(src='/images/icon-nodejs.svg')
            br
            a(href=`https://the-example-app-nodejs.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
          li
            img(src='/images/icon-dotnet.svg')
            br
            a(href=`https://the-example-app-csharp.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.csharp" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-ruby.svg')
            br
            a(href=`https://the-example-app-rb.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.rb" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-php.svg')
            br
            a(href=`https://the-example-app-php.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.php" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-python.svg')
            br
            a(href=`https://the-example-app-py.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.py" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-swift.svg')
            br
            a(href=`https://itunes.apple.com/app/contentful-reference/id1333721890` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.swift" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-java.svg')
            br
            a(href=`https://the-example-app-java.contentful.com/${queryStringSettings}` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.java" rel="noopener" target="_blank") GitHub
          li
            img(src='/images/icon-android.svg')
            a(href=`https://play.google.com/store/apps/details?id=com.contentful.tea.kotlin` rel="noopener" target="_blank")= translate("hostedLabel", currentLocale.code)
            br
            a(href="https://github.com/contentful/the-example-app.kotlin" rel="noopener" target="_blank") GitHub
      .modal__cta-wrapper
        a.modal__cta.close(href="#")= translate("modalCTALabel", currentLocale.code)
      .modal__close-wrapper
        a.modal__close-button.close(href="#")
          svg
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#cross")

  script(src='/scripts/index.js')

  if process.env.TRACKING
    include ./tracking.pug
